/* ========================
  General
======================== */
body {
  color: #404040;
  font-family: SegoeUIRegular, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

#sidebar {
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
  width: 330px;
  padding: 30px;
  background-color: #bcbcbc;
}

#sidebar.sidebar-on-edit,
#sidebar.sidebar-on-edit.sidebar-on-error {
  background-color: #5199db;
}

#sidebar.sidebar-on-error {
  background-color: #f6c1c0;
}

.sidebar-section {
  margin-bottom: 55px;
}

.sidebar-line {
  margin-bottom: 10px;
}

#errors {
  display: none;
  color: #da0902;
}

#content {
  margin-left: 330px;
  padding: 30px;
}


/* ========================
  Matrix
======================== */
.matrix {
  position: relative;
  border: 2px solid #404040;
  border-collapse: separate;
}

.matrix:before,
.matrix:after {
  position: absolute;
  right: 10px;
  left: 10px;
  width: auto;
  height: 5px;
  content: '';
  background-color: #fff;
}

.matrix:before {
  top: -2px;
}

.matrix:after {
  bottom: -2px;
}

.matrix tbody {
  display: block;
  padding-right: 10px;
  padding-bottom: 10px;
}

.matrix input {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-left: 10px;
}

.matrix input::-webkit-input-placeholder  { color: #c9c9c9; }
.matrix input::-moz-placeholder           { color: #c9c9c9; }
.matrix input:-ms-input-placeholder       { color: #c9c9c9; }

.matrix input:focus::-webkit-input-placeholder  { color: transparent; }
.matrix input:focus::-moz-placeholder           { color: transparent; }
.matrix input:focus:-ms-input-placeholder       { color: transparent; }

#matrix-c,
#matrix-a {
  float: left;
}

#matrix-c {
  margin-right: 30px;
  margin-bottom: 30px;
}

#wrapper-matrix-ac {
  overflow: hidden;
}

#wrapper-matrix-a,
#wrapper-matrix-b {
  position: relative;
  display: table;
}

#wrapper-matrix-a {
  margin-bottom: 30px;
}

#title-matrix-a,
#title-matrix-b {
  font-size: 20px;
}

#title-matrix-a {
  display: table-cell;
  vertical-align: middle;
  padding-left: 20px;
}

#title-matrix-b {
  display: table;
  margin: 0 auto;
  padding-top: 20px;
}


/* ========================
  Buttons
======================== */
.btn {
  overflow: visible; /* для IE */
  cursor: pointer;
  border-radius: 2px;
  font-family: SegoeUIRegular, sans-serif;
}

.btn:disabled,
.btn:hover:disabled {
  cursor: default;
  color: #808080;
  border-color: #d9d9d9;
  background: #f2f2f2;
}

.btn-form:focus,
input[type='text']:focus {
  border-color: #fff;
  outline-width: 2px;
  outline-style: solid;
  outline-color: #5199db;
}

.btn:active,
.btn:hover {
  outline: none;
}

.btn-positive {
  height: 34px;
  padding: 0 19px;
  color: #fff;
  border: 1px solid #5e9450;
  border-right: none;
  border-bottom-color: #457339;
  border-radius: 3px;
  background: linear-gradient(to bottom, #4ba91d, #38920c);
  background-color: #419d14;
  font-size: 14px;
}

.btn-positive:hover {
  border-color: #527f4d;
  border-bottom-color: #426c36;
  background: linear-gradient(to bottom, #3b8d13, #317e0b);
  background-color: #35850e;
}

.btn-positive:active {
  border-color: #51744c;
  border-top-color: #3d5333;
  background: linear-gradient(to bottom, #29660b, #35840e);
  background-color: #35840e;
}

.btn-form {
  height: 28px;
  margin-right: 10px;
  padding: 0 6px;
  color: #404040;
  border: 1px solid #d9d9d9;
  border-bottom-color: #b2b2b2;
  background: linear-gradient(to bottom, #fefefe, #ececec);
  background-color: #f4f4f4;
}

.btn-form:focus {
  background: linear-gradient(to bottom, #fdfdfd, #ececec);
  background-color: #f4f4f4;
}

.btn-form:hover {
  border-color: #d9d9d9;
  border-bottom-color: #b2b2b2;
  background: linear-gradient(to bottom, #f2f2f2, #dfdfdf);
  background-color: #e8e8e8;
}

.btn-form:hover:active {
  border-color: #ccc;
  border-top-color: #a6a6a6;
  background: #d9d9d9;
}

.btn-arrow {
  position: relative;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-positive.btn-arrow:focus {
  outline: none;
}

.triangle-lower {
  position: absolute;
  z-index: -1;
  top: 6px;
  right: -10px;
  width: 20.1px;
  height: 20.1px;
  -webkit-transform: rotate(53.6deg) skew(20deg);
     -moz-transform: rotate(53.6deg) skew(20deg);
      -ms-transform: rotate(53.6deg) skew(20deg);
       -o-transform: rotate(53.6deg) skew(20deg);
          transform: rotate(53.6deg) skew(20deg);
}

.triangle-upper {
  position: absolute;
  top: 6.4px;
  right: -9px;
  width: 19px;
  height: 19px;
  -webkit-transform: rotate(53.6deg) skew(20deg);
     -moz-transform: rotate(53.6deg) skew(20deg);
      -ms-transform: rotate(53.6deg) skew(20deg);
       -o-transform: rotate(53.6deg) skew(20deg);
          transform: rotate(53.6deg) skew(20deg);
}

.btn-positive .triangle-lower {
  background: linear-gradient(to bottom right, #5e9450, #457339);
  background-color: #5e9450;
}

.btn-positive.btn-arrow:hover .triangle-lower {
  background: linear-gradient(to bottom right, #527f4d, #426c36);
  background-color: #527f4d;
}

.btn-positive.btn-arrow:active .triangle-lower {
  background: linear-gradient(to bottom right, #3d5333, #51744c);
  background-color: #3d5333;
}

.btn-positive .triangle-upper {
  background: linear-gradient(to bottom right, #4ba91d, #38920c);
  background-color: #419d14;
}

.btn-positive.btn-arrow:hover .triangle-upper {
  background: linear-gradient(to bottom right, #3b8d13, #317e0b);
  background-color: #35850e;
}

.btn-positive.btn-arrow:active .triangle-upper {
  background: linear-gradient(to bottom right, #29660b, #35840e);
  background-color: #35840e;
}

.btn:disabled .triangle-lower,
.btn:disabled:hover .triangle-lower {
  background: #d9d9d9;
}

.btn:disabled .triangle-upper,
.btn:disabled:hover .triangle-upper {
  background: #f2f2f2;
}


/* ========================
  Inputs
======================== */
input[type='text'] {
  padding-left: 5px;
  padding-top: 15px;
  color: #404040;
  border: 1px solid #d9d9d9;
  border-top-color: #b2b2b2;
}

input[type='text']:disabled {
  color: #808080;
  border-top-color: #d9d9d9;
  background-color: #f2f2f2;
}


/* ========================
  Icons
======================== */
.icon:before {
  font-family: 'KonturIconiceco';
}

.icon-return:before {
  content: '\E012';
}
.icon-swap:before {
  content: '\E01F';
}
.icon-plus:before {
  content: '\E00D';
}
.icon-minus:before {
  content: '\E01E';
}


/* ========================
  Fonts
======================== */
@font-face {
  font-family: 'SegoeUIRegular';
  font-weight: normal;
  font-style: normal;

  src: url('fonts/SegoeUIRegular/SegoeUIRegular.eot');
  src: url('fonts/SegoeUIRegular/SegoeUIRegular.eot?#iefix')format('embedded-opentype'),
  url('fonts/SegoeUIRegular/SegoeUIRegular.woff') format('woff'),
  url('fonts/SegoeUIRegular/SegoeUIRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'KonturIconiceco';
  font-weight: normal;
  font-style: normal;

  src: url('fonts/KonturIconiceco/KonturIconiceco.eot');
  src: url('fonts/KonturIconiceco/KonturIconiceco.eot?#iefix') format('embedded-opentype'),
  url('fonts/KonturIconiceco/KonturIconiceco.woff2') format('woff2'),
  url('fonts/KonturIconiceco/KonturIconiceco.woff') format('woff'),
  url('fonts/KonturIconiceco/Kontur-Iconic-eco.ttf') format('truetype'),
  url('fonts/KonturIconiceco/KonturIconiceco.svg#KonturIconiceco') format('svg');
}
